* {
    padding: 0px;
    margin: 0px;

}
.head {
    font-family: 'Arial';
    font-style: normal;
    font-size: 50px;
    font-style: normal;
    color: #e50043;

    background-color: #ffff;
    height: 140px;
    width: 1440px;
    padding: 50px;
    box-sizing: border-box; 

    position: fixed;

    display: flex;
    justify-content: space-between;
}

.links>li {
    display: inline;

    margin-right: 25px;
}

.img-head {
    margin-top: 140px;
}

.text-1 {
    font-family: 'Arial';
    font-style: normal;
    font-size: 25px;
    line-height: 28,75px;
    color: #000000;

    margin: 150px 200px 150px 200px;
    padding: 24px;
    border: 3px solid #f8bfc7;
    border-radius: 20px;
}
.image {
    padding: 0px 200px 0 200px;

    display: flex;
    justify-content: space-around;
}
.name-img {
    font-family: 'Arial';
    font-style: normal;
    font-size: 25px;
    line-height: 28,75px;
    color: #000000;

    padding: 42px 200px 0 200px;
    text-align: center;
    
    display: flex;
    justify-content: space-around;
}
.glass-text {
    margin: 150px 200px 150px 200px;
    padding: 24px;
    border: 3px solid #f8bfc7;
    border-radius: 20px;

    font-family: 'Arial';
    font-style: normal;
    font-size: 25px;
    line-height: 28,75px;
    color: #000000;

    display: flex;
    justify-content: space-around;
}
.glass {
    padding: 30px 80px 30px 80px;
}
.text-2 {
    padding: 30px;
    line-height: 28,75px;
}
.end {
    background-color: #f8bfc7;

    font-family: 'Arial';
    font-size: 50px;
    line-height: 57px;
    color: #ffff; 

    text-align: left;
    padding: 50px;
}