.fon {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(229,233,148,1) 100%);
    
}
.header-1 {
    color: white;
    font-size: 50px;
    
}
.image {
    margin: 50px;
    display: flex;
    
}
.header {
    color: white;
    font-size: 50px;
    text-align: left;
    position: absolute;
}
.text {
    display: flex;
    color: white;
    text-align: justify;
    justify-content: space-around;
    margin: 50px;
    
}
.text-1 {
    padding: 50px;
    width: 900px;
}
.text-2 {
    padding: 50px;
    width: 900px;
}
.link {
    
}